index.json
[{"id":"ba4a9512.f5bab8","type":"tab","label":"Main","disabled":false,"info":""},{"id":"3d080f5c.6af36","type":"inject","z":"ba4a9512.f5bab8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":300,"y":660,"wires":[["1a8d5394.61155c"]]},{"id":"1a8d5394.61155c","type":"http request","z":"ba4a9512.f5bab8","name":"","method":"GET","ret":"txt","paytoqs":false,"url":"localhost:3001/junior?id=2&pw=bs2xjo","tls":"","proxy":"","authType":"basic","x":450,"y":660,"wires":[["c333fc5d.b1344"]]},{"id":"e6a83716.c8b948","type":"switch","z":"ba4a9512.f5bab8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"Enter password:","vt":"str"},{"t":"cont","v":"End of commands","vt":"str"},{"t":"cont","v":"Status:","vt":"str"},{"t":"cont","v":"QueueUpdate:","vt":"str"},{"t":"cont","v":"Arrived at","vt":"str"},{"t":"cont","v":"StateOfCharge:","vt":"str"},{"t":"cont","v":"Temperature:","vt":"str"},{"t":"cont","v":"LocalizationScore:","vt":"str"},{"t":"cont","v":"Location:","vt":"str"}],"checkall":"true","repair":false,"outputs":9,"x":390,"y":220,"wires":[["339c8d30.899422"],["98bef4a2.bfd6e8"],["d331413c.14ccb"],["23ca8ee1.293852"],["826a6e41.f25e8"],["22200b0.b099cf6"],["f74bcdce.e31dc"],["e29d7529.9daeb8"],["c7fa10b5.713fe"]]},{"id":"2579d4b0.e7f3ec","type":"tcp in","z":"ba4a9512.f5bab8","name":"Telnet","server":"client","host":"","port":"7171","datamode":"stream","datatype":"utf8","newline":"\\n","topic":"","base64":false,"x":110,"y":220,"wires":[["c332950.cb94568"]]},{"id":"339c8d30.899422","type":"function","z":"ba4a9512.f5bab8","name":"login","func":"node.warn('Logging in...');\nreturn {RAW_CMD: \"adept\\n\"};","outputs":1,"noerr":0,"x":650,"y":60,"wires":[["52bbad9d.e8c174"]]},{"id":"40c2bc7e.e7b284","type":"tcp out","z":"ba4a9512.f5bab8","host":"","port":"","beserver":"reply","base64":false,"end":false,"name":"Send to robot","x":1680,"y":240,"wires":[]},{"id":"98bef4a2.bfd6e8","type":"function","z":"ba4a9512.f5bab8","name":"After login","func":"node.warn('Logged in')\nglobal.set('loggedin', true);","outputs":1,"noerr":0,"x":660,"y":120,"wires":[["74eae1b5.f7c2f"]]},{"id":"826a6e41.f25e8","type":"function","z":"ba4a9512.f5bab8","name":"Arrived at destination","func":"return msg;","outputs":1,"noerr":0,"x":700,"y":300,"wires":[["855bf472.f0d3d8"]]},{"id":"c333fc5d.b1344","type":"function","z":"ba4a9512.f5bab8","name":"Sort queue","func":"function compareJobs(a, b){\n  if(a.priority > b.priority) return -1;\n  if(a.priority < b.priority) return 1;\n  return 0;\n}\n\nlet json = JSON.parse(msg.payload);\nlet jobs = json.jobs.sort(compareJobs);\n\nglobal.set('jobs', jobs);\nglobal.set('totalJobs', jobs.length);\n\nreturn {};","outputs":1,"noerr":0,"x":610,"y":660,"wires":[["89ef9c29.f5fe2"]]},{"id":"52bbad9d.e8c174","type":"function","z":"ba4a9512.f5bab8","name":"Raw CMD","func":"return {payload: msg.RAW_CMD};","outputs":1,"noerr":0,"x":1510,"y":240,"wires":[["40c2bc7e.e7b284"]]},{"id":"2bc32698.184a1a","type":"azureiothub","z":"ba4a9512.f5bab8","name":"Azure IoT Hub","protocol":"mqtt","x":1680,"y":420,"wires":[["d86ddc8d.2816a"]]},{"id":"d331413c.14ccb","type":"function","z":"ba4a9512.f5bab8","name":"Status","func":"\nreturn msg;","outputs":1,"noerr":0,"x":650,"y":180,"wires":[[]]},{"id":"89ef9c29.f5fe2","type":"function","z":"ba4a9512.f5bab8","name":"Send first element in queue","func":"let jobs = global.get('jobs');\nlet job = jobs[0];\n\n\nnode.warn(jobs);\n\nlet CMD = '';\nlet other = '';\n\nif(global.get('loggedin') === true){\n    CMD += 'queue'+job.jobType+' ';\n    CMD += job.goalId+' ';\n    CMD += job.priority.toString()+' ';\n    CMD += job.jobID;\n    CMD += '\\n';\n} else {\n    node.warn('NOT LOGGED IN!')\n}\n\nif(job.jobType == 'dropoff'){\n    CMD = 'say vado a scaricare '+job.goalId+'\\n'+CMD;\n    other = 'Scarico '+job.goalId;\n} else {\n    CMD = 'say vado a prendere '+job.goalId+'\\n'+CMD;\n    other = 'Carico '+job.goalId;\n}\n\nnode.warn(CMD);\n\nglobal.set('expectedDestination', job.goalId);\n\njobs.shift();\nglobal.set('jobs', jobs);\n\nreturn {RAW_CMD: CMD, other: other};","outputs":1,"noerr":0,"x":820,"y":660,"wires":[["52bbad9d.e8c174","e34d59ee.9629b8"]]},{"id":"23ca8ee1.293852","type":"function","z":"ba4a9512.f5bab8","name":"Queueupdate","func":"\nreturn msg;","outputs":1,"noerr":0,"x":680,"y":240,"wires":[[]]},{"id":"c332950.cb94568","type":"function","z":"ba4a9512.f5bab8","name":"Azure var init","func":"global.set('AZURE_DEVICE_ID', \n'YOUR_AZURE_ID'\n);\nglobal.set('AZURE_DEVICE_KEY', \n'YOUR_AZURE_KEY'\n);\nreturn msg;","outputs":1,"noerr":0,"x":250,"y":220,"wires":[["e6a83716.c8b948"]]},{"id":"22200b0.b099cf6","type":"function","z":"ba4a9512.f5bab8","name":"Battery status","func":"let perc = msg.payload.split('StateOfCharge: ')[1]\n\nreturn {perc: perc};","outputs":1,"noerr":0,"x":680,"y":360,"wires":[["f3249c2.7082f6"]]},{"id":"980e678a.cf4628","type":"inject","z":"ba4a9512.f5bab8","name":"","topic":"","payload":"","payloadType":"date","repeat":"15","crontab":"","once":false,"onceDelay":0.1,"x":1010,"y":80,"wires":[["83945f70.1f103"]]},{"id":"83945f70.1f103","type":"function","z":"ba4a9512.f5bab8","name":"Send status cmd","func":"let cmd = '';\n\nif(global.get('loggedin') === true) cmd = 'status\\n';\n\nreturn {RAW_CMD: cmd};","outputs":1,"noerr":0,"x":1190,"y":80,"wires":[["52bbad9d.e8c174"]]},{"id":"f3249c2.7082f6","type":"function","z":"ba4a9512.f5bab8","name":"Update battery","func":"let json = {\n    deviceId: global.get('AZURE_DEVICE_ID'),\n    key: global.get('AZURE_DEVICE_KEY'),\n    protocol: 'mqtt',\n    data: {\n        battery: msg.perc\n    }\n}\n\n//node.warn('Battery: '+msg.perc+'%');\n\nreturn {payload: json};","outputs":1,"noerr":0,"x":1400,"y":360,"wires":[["2bc32698.184a1a"]]},{"id":"d86ddc8d.2816a","type":"debug","z":"ba4a9512.f5bab8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1850,"y":420,"wires":[]},{"id":"855bf472.f0d3d8","type":"function","z":"ba4a9512.f5bab8","name":"Next job","func":"let nowDest = msg.payload.split('Arrived at ')[1];\n\nlet expected = global.get('expectedDestination');\nnowDest = nowDest.replace(' ', '');\nexpected = expected.replace(' ', '');\n\nnode.warn(nowDest+', '+expected);\nif(nowDest == expected){\n    node.warn('OK');\n} else {\n    node.warn('ERRORE!');\n}\n\nlet jobs = global.get('jobs');\nlet job = jobs[0];\n\nnode.warn(job);\n\nlet CMD = '';\nCMD += 'queue'+job.jobType+' ';\nCMD += job.goalId+' ';\nCMD += job.priority.toString()+' ';\nCMD += job.jobID;\nCMD += '\\n';\n\nlet other = '';\n\nif(job.jobType == 'dropoff'){\n    CMD = 'say vado a scaricare '+job.goalId+'\\n'+CMD;\n    other = 'Scarico '+job.goalId;\n} else {\n    CMD = 'say vado a prendere '+job.goalId+'\\n'+CMD;\n    other = 'Carico '+job.goalId;\n}\n\nnode.warn('Next job: '+CMD);\n\njobs.shift();\nglobal.set('jobs', jobs);\nglobal.set('expectedDestination', job.goalId);\n\nreturn {RAW_CMD: CMD, other: other};","outputs":1,"noerr":0,"x":880,"y":300,"wires":[["52bbad9d.e8c174","e34d59ee.9629b8"]]},{"id":"f74bcdce.e31dc","type":"function","z":"ba4a9512.f5bab8","name":"Temperature","func":"let temp = msg.payload.split('Temperature: ')[1]\n\nreturn {temp: temp};","outputs":1,"noerr":0,"x":670,"y":400,"wires":[["8a4a7b10.1fbae8"]]},{"id":"8a4a7b10.1fbae8","type":"function","z":"ba4a9512.f5bab8","name":"Update temperature","func":"let json = {\n    deviceId: global.get('AZURE_DEVICE_ID'),\n    key: global.get('AZURE_DEVICE_KEY'),\n    protocol: 'mqtt',\n    data: {\n        temp: msg.temp\n    }\n}\n\n//node.warn('Temperature: '+msg.temp);\n\nreturn {payload: json};","outputs":1,"noerr":0,"x":1380,"y":400,"wires":[["2bc32698.184a1a"]]},{"id":"74eae1b5.f7c2f","type":"function","z":"ba4a9512.f5bab8","name":"Send connection cmd","func":"let cmd = 'say connessione stabilita\\n';\n\nreturn {RAW_CMD: cmd};","outputs":1,"noerr":0,"x":1200,"y":120,"wires":[["52bbad9d.e8c174"]]},{"id":"e34d59ee.9629b8","type":"function","z":"ba4a9512.f5bab8","name":"Update job info","func":"let jobs = global.get('jobs');\nlet to_do = jobs.length;\nlet done = global.get('totalJobs') - to_do;\n\nlet json = {\n    deviceId: global.get('AZURE_DEVICE_ID'),\n    key: global.get('AZURE_DEVICE_KEY'),\n    protocol: 'mqtt',\n    data: {\n        remainingJobs: to_do,\n        completedJobs: done,\n        movingTime: msg.other\n    }\n}\n\n//node.warn('Remaining jobs: '+to_do+', completed: '+done);\n\nnode.warn('Moving time: '+json.data.movingTime);\n\nreturn {payload: json};","outputs":1,"noerr":0,"x":1400,"y":440,"wires":[["2bc32698.184a1a"]]},{"id":"e29d7529.9daeb8","type":"function","z":"ba4a9512.f5bab8","name":"LocalizationScore","func":"let score = msg.payload.split('LocalizationScore: ')[1];\n\nreturn {localizationScore: score};","outputs":1,"noerr":0,"x":690,"y":480,"wires":[["c13ba0ba.d2489"]]},{"id":"c13ba0ba.d2489","type":"function","z":"ba4a9512.f5bab8","name":"Update localization score","func":"let localizationScore = parseInt(msg.localizationScore);\n\nlet json = {\n    deviceId: global.get('AZURE_DEVICE_ID'),\n    key: global.get('AZURE_DEVICE_KEY'),\n    protocol: 'mqtt',\n    data: {\n        localizationScore: localizationScore\n    }\n}\n\n//node.warn('Localization score: '+localizationScore);\n\nreturn {payload: json};","outputs":1,"noerr":0,"x":1370,"y":480,"wires":[["2bc32698.184a1a"]]},{"id":"c7fa10b5.713fe","type":"function","z":"ba4a9512.f5bab8","name":"Location","func":"let locations = msg.payload.split('Location: ')[1].split(' ');\n\nlet x = locations[0], y = locations[1], z = locations[2];\n\nreturn {x: x, y: y, z: z};","outputs":1,"noerr":0,"x":660,"y":520,"wires":[["3d43cdf0.50d6e2"]]},{"id":"3d43cdf0.50d6e2","type":"function","z":"ba4a9512.f5bab8","name":"Update localization","func":"let json = {\n    deviceId: global.get('AZURE_DEVICE_ID'),\n    key: global.get('AZURE_DEVICE_KEY'),\n    protocol: 'mqtt',\n    data: {\n        locationX: msg.x,\n        locationY: msg.y,\n        locationZ: msg.z\n    }\n}\n\n//node.warn('Location : '+msg.x+', '+msg.y+', '+msg.z);\n\nreturn {payload: json};","outputs":1,"noerr":0,"x":1390,"y":520,"wires":[["2bc32698.184a1a"]]}]
